# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Compilation artifacts
build/
dist/
*.spec
*.exe

# Local data & logs
debug.log
state.json
keylog_buffer.txt
keylog_buffer_temp.txt
keylog_pending.txt
cookies_*.txt
*.png
*.jpg
